* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background: var(--WHITE, #fff);
  color: #434455;
}
.container {
  max-width: 100%;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-menu {
  gap: 40px;
}
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-studio-logo {
  color: var(--NAVY-BLUE, #2e2f42);
}
.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.address {
  gap: 40px;
}

.header-adress {
  margin-left: auto;
}

.header-adress {
  font-style: normal;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  flex-shrink: 0;
  color: var(--OCEAN, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 5em;
  letter-spacing: 0.02em;
}
.address-item-link:hover,
.address-item-link:focus {
  color: var(--OCEAN, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.main-title {
  background-color: var(--NAVY-BLUE, #2e2f42);
  height: 600px;
  text-align: center;

  padding: 188px 472px 292px 472px;
}

.title-container {
  margin: 0 auto;
}

.title {
  max-width: 496px;
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.button-title {
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;

  margin-top: 48px;
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  background-color: var(--IRIS, #4d5ae5);
  cursor: pointer;
}
.button-title:hover,
.button-title:focus {
  background: var(--OCEAN, #404bbf);
}

.priority-hello {
  display: flex;
  gap: 24px;
}

.priority {
  padding-top: 120px;
  padding-bottom: 120px;
}
.priority-container {
  padding: 0;
}
.visually-hidden {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hello-list-item {
  width: calc((100%-24 * 3) / 4);
}
.colleagues-bye {
  display: flex;
  gap: 24px;
}
.colleagues {
  background: var(--CLOUD, #f4f4fd);
  padding-bottom: 120px;
}
.colleagues-people {
  margin-top: 120px;
  margin-bottom: 72px;
}

.colleagues-img {
  margin-bottom: 32px;
}

.colleagues-bye-introduction {
  margin-bottom: 8px;
}
.colleagues-bye-paragraph {
  margin: 0;

  padding-bottom: 32px;
}

.bye-list-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-document {
  margin-bottom: 120px;
}

.our-portfolio-offer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}

.offer-list-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
}

.offer-img {
  margin-bottom: 32px;
}

.our-portfolio-offer-introduction {
  margin-bottom: 8px;
  margin-left: 16px;
}

.our-portfolio-offer-paragraph {
  margin-bottom: 32px;
  margin-left: 16px;
}

.colleagues-people,
.our-portfolio-document {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.priority-hello-introduction,
.colleagues-bye-introduction,
.our-portfolio-offer-introduction {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.priority-hello-introduction {
  margin-bottom: 8px;
}
.address-item-link,
.priority-hello-paragraph,
.colleagues-bye-paragraph,
.our-portfolio-offer-paragraph,
.bye-bye-bye {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.bye-list-item {
  background-color: #ffffff;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.footer-studio-logo {
  color: var(--CLOUD, #f4f4fd);
}
.bye-bye-bye {
  width: 264px;
  height: 72px;
  margin-top: 16px;
  color: #f4f4fd;
}
.visually-hidden {
  display: none;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
